Repository pralab/secml: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Path conditions:
  package: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  package:docs: any of: docs/**/*, tutorials/**/*, src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, README.md, requirements.txt, setup.py, tox.ini
  test:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py35:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py36:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py36:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py37:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py37:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py38:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py38:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py35:latest:win: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:notebooks:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, tutorials/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:install:whl:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py38: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py38: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini

Removed Python 3.5 from envlist in tox.ini.
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Removed Python 3.5 pypi classifier from setup.py.
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#895 Temporarily pinned `pyzmq` to version `<21` to fix a fatal exception on Windows.
  requirements.txt
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#896 CI now generates code quality report in HTML format.
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#894 Removed pin of pyzmq to version <21 as the fatal exception raised on Windows is now resolved with version 22.
  requirements.txt
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#897 Fixed crash in `CAttackPoisoning` when `y_target != None` due to missing broadcasting to expected shape.
  src/secml/adv/attacks/poisoning/c_attack_poisoning.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#899 Added "Edit on Gitlab" button to doc pages.
  docs/source/conf.py
Due: package:docs

#898 Added "Open in Colab" button to all tutorial notebooks.
  tutorials/01-Training.ipynb
  tutorials/02-NeuralNetworks.ipynb
  tutorials/03-Evasion.ipynb
  tutorials/04-Transferability.ipynb
  tutorials/05-Poisoning.ipynb
  tutorials/06-MNIST_dataset.ipynb
  tutorials/07-NeuralNetworks-MNIST.ipynb
  tutorials/08-ImageNet.ipynb
  tutorials/09-Cleverhans.ipynb
  tutorials/10-Explanation.ipynb
  tutorials/11-ImageNet_advanced.ipynb
  tutorials/12-DNR.ipynb
  tutorials/13-Android-Malware-Detection.ipynb
  tutorials/14-RobustBench.ipynb
Due: package:docs, test:notebooks:py35:latest

#100010 Moved `compute_threshold` method from `CClassifierDNR` to its `CClassifierRejectThreshold` superclass.
  src/secml/ml/classifiers/reject/c_classifier_dnr.py
  src/secml/ml/classifiers/reject/c_classifier_reject.py
  src/secml/ml/classifiers/reject/c_classifier_reject_threshold.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#901 Fixed call to "%pip" being invoked even if `secml` was already installed, overwriting any local version with the master version.
  tutorials/01-Training.ipynb
  tutorials/02-NeuralNetworks.ipynb
  tutorials/03-Evasion.ipynb
  tutorials/04-Transferability.ipynb
  tutorials/05-Poisoning.ipynb
  tutorials/06-MNIST_dataset.ipynb
  tutorials/07-NeuralNetworks-MNIST.ipynb
  tutorials/08-ImageNet.ipynb
  tutorials/09-Cleverhans.ipynb
  tutorials/10-Explanation.ipynb
  tutorials/11-ImageNet_advanced.ipynb
  tutorials/12-DNR.ipynb
  tutorials/13-Android-Malware-Detection.ipynb
  tutorials/14-RobustBench.ipynb
Due: package:docs, test:notebooks:py35:latest

#802 Added gitlab-triage policy that adds a link to the public issues.
  .gitlab/triage-policies.yml
Due: none

#905 Changed image used by notebook 8, as the previous one is no more available.
  tutorials/08-ImageNet.ipynb
Due: package:docs, test:notebooks:py35:latest

#903 Updated roadmap page in documentation.
  docs/source/roadmap.rst
Due: package:docs

#900 Moved notebook 11 on Evasion Attacks on ImageNet (advanced) to "Applications" section.
  docs/source/tutorials.adv.rst
  docs/source/tutorials.app.rst
  tutorials/11-ImageNet_advanced.ipynb
  tutorials/12-DNR.ipynb
Due: package:docs, test:notebooks:py35:latest

#906 Artifacts of `release:gitlab-releases` CI job are now set to never expire.
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#795 Added new package `adv.attacks.evasion.foolbox` with a wrapper for Foolbox.
  .gitlab-ci.yml
  README.md
  docs/source/conf.py
  docs/source/secml.adv.attacks.evasion.foolbox.rst
  docs/source/secml.adv.attacks.evasion.rst
  docs/source/tutorials.adv.rst
  docs/source/tutorials/15-Foolbox.nblink
  setup.py
  src/secml/adv/attacks/evasion/__init__.py
  src/secml/adv/attacks/evasion/foolbox/__init__.py
  src/secml/adv/attacks/evasion/foolbox/c_attack_evasion_foolbox.py
  src/secml/adv/attacks/evasion/foolbox/fb_attacks/__init__.py
  src/secml/adv/attacks/evasion/foolbox/fb_attacks/fb_basic_iterative_attack.py
  src/secml/adv/attacks/evasion/foolbox/fb_attacks/fb_cw_attack.py
  src/secml/adv/attacks/evasion/foolbox/fb_attacks/fb_ddn_attack.py
  src/secml/adv/attacks/evasion/foolbox/fb_attacks/fb_deepfool_attack.py
  src/secml/adv/attacks/evasion/foolbox/fb_attacks/fb_ead_attack.py
  src/secml/adv/attacks/evasion/foolbox/fb_attacks/fb_fgm_attack.py
  src/secml/adv/attacks/evasion/foolbox/fb_attacks/fb_pgd_attack.py
  src/secml/adv/attacks/evasion/foolbox/losses/__init__.py
  src/secml/adv/attacks/evasion/foolbox/losses/ce_loss.py
  src/secml/adv/attacks/evasion/foolbox/losses/cw_loss.py
  src/secml/adv/attacks/evasion/foolbox/losses/deepfool_loss.py
  src/secml/adv/attacks/evasion/foolbox/losses/ead_loss.py
  src/secml/adv/attacks/evasion/foolbox/losses/logits_loss.py
  src/secml/adv/attacks/evasion/foolbox/secml_autograd.py
  src/secml/adv/attacks/evasion/foolbox/tests/__init__.py
  src/secml/adv/attacks/evasion/foolbox/tests/c_attack_evasion_foolbox_testcases.py
  src/secml/adv/attacks/evasion/foolbox/tests/test_c_attack_evasion_foolbox_basic_iterative.py
  src/secml/adv/attacks/evasion/foolbox/tests/test_c_attack_evasion_foolbox_cw.py
  src/secml/adv/attacks/evasion/foolbox/tests/test_c_attack_evasion_foolbox_ddn.py
  src/secml/adv/attacks/evasion/foolbox/tests/test_c_attack_evasion_foolbox_deepfool.py
  src/secml/adv/attacks/evasion/foolbox/tests/test_c_attack_evasion_foolbox_ead.py
  src/secml/adv/attacks/evasion/foolbox/tests/test_c_attack_evasion_foolbox_fgm.py
  src/secml/adv/attacks/evasion/foolbox/tests/test_c_attack_evasion_foolbox_pgd.py
  src/secml/adv/attacks/evasion/foolbox/tests/test_secml_autograd.py
  src/secml/adv/attacks/evasion/tests/c_attack_evasion_testcases.py
  tox.ini
  tutorials/14-RobustBench.ipynb
  tutorials/15-Foolbox.ipynb
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#908 Added missing import test of foolbox package in `test:install:whl:extras:py38` CI job.
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#910 The MNIST dataset loader `CDataLoaderMNIST` now downloads the files from our model-zoo mirror (https://gitlab.com/secml/secml-zoo/-/tree/datasets/MNIST).
  src/secml/data/loader/c_dataloader_mnist.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Added workaround mirrors for MNIST dataset in TestCDataLoaderTorchDataset.
  src/secml/data/loader/tests/test_dataloader_torchvision.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#911 Fixed improper use of `fm.join` when joining URLs in `CDataLoaderMNIST`.
  src/secml/data/loader/c_dataloader_mnist.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Update VERSION to 0.14-rc1
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Release v0.14-rc1
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#913 Fixed visualization of Foolbox link in the README.
  README.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Merge branch '913-the-link-to-foolbox-in-the-readme-is-not-showing-correctly-due-to-missing-space' into 'develop'
  README.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Update VERSION to 0.14-rc2
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Release v0.14-rc2
  README.md
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#912 Updated rules for `code_quality` job so that does not run on tags pipelines and pipelines for stable or release branches.
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Update CHANGELOG.md
  CHANGELOG.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Update VERSION to 0.14
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Release v0.14
  CHANGELOG.md
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Update VERSION to 0.15-dev0
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#917 Added new CI job `release:zoo` that triggers a release of the `secml-zoo`.
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#918 Installing latest stable version of RobustBench instead of the master version.
  tox.ini
  tutorials/14-RobustBench.ipynb
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#921 Fix for torchvision MNIST loader unittests urls not available now restricted to version <0.9.1.
  src/secml/data/loader/tests/test_dataloader_torchvision.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#919 Fixed `CConstraintL1` crashing when projecting sparse data using default center value (scalar 0).
  src/secml/optim/constraints/c_constraint_l1.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#920 Fixed inconsistent results between dense and sparse data for `CConstraintL1` projection caused by type casting.
  src/secml/optim/constraints/c_constraint_l1.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Updated unittests for CConstraintL1 to cover #919 and #920.
  src/secml/optim/constraints/tests/test_c_constraint.py
  src/secml/optim/constraints/tests/test_c_constraint_l1.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Updated unittests for CConstraintL1 to cover #919 and #920.
  src/secml/optim/constraints/tests/test_c_constraint_l1.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Removed unused `discrete` parameter from `CAttackEvasionPGD`.
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

COptimizerPGDExp now inherits from COptimizerPGDLS to remove duplicated methods.
  src/secml/optim/optimizers/c_optimizer_pgd_exp.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38
