Repository pralab/secml: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

package:
  stage: package
  interruptible: true
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-setuptools:latest
  before_script:
  - echo $CI_PROJECT_DIR
  script:
  - python setup.py sdist --formats=zip
  - python setup.py bdist_wheel --universal
  - twine check dist/*
  artifacts:
  ...

package:docs:
  stage: package
  interruptible: true
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-sphinx:latest
  script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  - tox -e docs
  - mv docs/build/html/ public/
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}_DOCS
    paths:
    - public
  ...

test:py35:latest:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35
  artifacts:
    reports:
      junit: pytest-report.xml
  ...

test:py35:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35
  artifacts:
    reports:
  ...

test:py36:latest:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.6
  script: tox -e py36
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py36
  artifacts:
    reports:
      junit: pytest-report.xml
  ...

test:py36:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.6
  script: tox -e py36-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py36
  artifacts:
    reports:
  ...

test:py37:latest:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.7
  script: tox -e py37
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py37
  artifacts:
    reports:
      junit: pytest-report.xml
  ...

test:py37:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.7
  script: tox -e py37-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py37
  artifacts:
    reports:
  ...

test:py35:latest:win:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - choco install vcredist2017 -y
  - choco install python -y --version=3.5.4
  - $env:Path += ";C:\Python35;C:\Python35\Scripts"
  - python -V
  ...

runtests added 3.10 to tests and requirements
  .github/workflows/run_test_main.yml
  .github/workflows/run_test_on_demand.yml
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

runtests fix typos and dropped tests for py 36
  .github/workflows/run_test_main.yml
  .github/workflows/run_test_on_demand.yml
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

[runtests] edit maintainers
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

[runtests] added versions as strings
  .github/workflows/run_test_main.yml
  .github/workflows/run_test_on_demand.yml
Due: none

fix assert raises of CArray
  src/secml/array/tests/test_c_array_init.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

[runtests] removed support for tfidf max norm
  src/secml/ml/features/normalization/tests/test_c_normalizer_tfidf.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

fix more details in setup
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

updated version
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

[runtests] fixed changelog
  CHANGELOG.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

[runtests] removed gitlab folder
  .gitlab-ci.yml
  .gitlab/dl-pytorch-chain.p7b
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Direction.md
  .gitlab/issue_templates/Documentation.md
  .gitlab/issue_templates/Improvement.md
  .gitlab/issue_templates/NewFeature.md
  .gitlab/issue_templates/Refactoring.md
  .gitlab/merge_request_templates/Standard.md
  .gitlab/triage-policies.yml
  .gitlab/triage_extra.rb
  docs/source/developers/index.rst
  docs/source/roadmap.rst
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

[runtest] dropped macos tests
  .github/workflows/run_test_main.yml
  .github/workflows/run_test_on_demand.yml
  docs/source/developers/contributing.extensions.rst
Due: package:docs

Update VERSION
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Update CHANGELOG.md
  CHANGELOG.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

added ack elsa
  README.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

fix incompatibility with numpy > 2
  src/secml/array/c_dense.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

fix cdense min dimensions
  src/secml/array/c_dense.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Updating requirements, test whether numpy is not breaking the dependencies
  README.md
  requirements.txt
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Changelog [runtests]
  CHANGELOG.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Trying to adapt to 3.11 [runtests]
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Forcing Numpy to be 1.26.4, Colab should be available
  requirements.txt
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Fixed tutorials to use SECML PY311 branch
  tutorials/01-Training.ipynb
  tutorials/02-NeuralNetworks.ipynb
  tutorials/03-Evasion.ipynb
  tutorials/04-Transferability.ipynb
  tutorials/05-Poisoning.ipynb
  tutorials/06-MNIST_dataset.ipynb
  tutorials/07-NeuralNetworks-MNIST.ipynb
  tutorials/08-ImageNet.ipynb
  tutorials/09-Cleverhans.ipynb
  tutorials/10-Explanation.ipynb
  tutorials/11-ImageNet_advanced.ipynb
  tutorials/12-DNR.ipynb
  tutorials/13-Android-Malware-Detection.ipynb
  tutorials/14-RobustBench.ipynb
  tutorials/15-Foolbox.ipynb
Due: package:docs, test:notebooks:py35:latest

Fixed tutorial links
  tutorials/01-Training.ipynb
  tutorials/02-NeuralNetworks.ipynb
  tutorials/03-Evasion.ipynb
  tutorials/04-Transferability.ipynb
  tutorials/05-Poisoning.ipynb
  tutorials/06-MNIST_dataset.ipynb
  tutorials/07-NeuralNetworks-MNIST.ipynb
  tutorials/08-ImageNet.ipynb
  tutorials/09-Cleverhans.ipynb
  tutorials/10-Explanation.ipynb
  tutorials/11-ImageNet_advanced.ipynb
  tutorials/12-DNR.ipynb
  tutorials/13-Android-Malware-Detection.ipynb
  tutorials/14-RobustBench.ipynb
  tutorials/15-Foolbox.ipynb
Due: package:docs, test:notebooks:py35:latest

Path conditions:
  package: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  package:docs: any of: docs/**/*, tutorials/**/*, src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, README.md, requirements.txt, setup.py, tox.ini
  test:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py35:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py36:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py36:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py37:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py37:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py38:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py38:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py35:latest:win: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:notebooks:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, tutorials/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:install:whl:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py38: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py38: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
