Repository pralab/secml: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

package:
  stage: package
  interruptible: true
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-setuptools:latest
  before_script:
  - echo $CI_PROJECT_DIR
  script:
  - python setup.py sdist --formats=zip
  - python setup.py bdist_wheel --universal
  - twine check dist/*
  artifacts:
  ...

package:docs:
  stage: package
  interruptible: true
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-sphinx:latest
  script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  - tox -e docs
  - mv docs/build/html/ public/
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}_DOCS
    paths:
    - public
  ...

test:py35:latest:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35
  artifacts:
    reports:
      junit: pytest-report.xml
  ...

test:py35:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35
  artifacts:
    reports:
  ...

test:py36:latest:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.6
  script: tox -e py36
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py36
  artifacts:
    reports:
      junit: pytest-report.xml
  ...

test:py36:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.6
  script: tox -e py36-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py36
  artifacts:
    reports:
  ...

test:py37:latest:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.7
  script: tox -e py37
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py37
  artifacts:
    reports:
      junit: pytest-report.xml
  ...

test:py37:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.7
  script: tox -e py37-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py37
  artifacts:
    reports:
  ...

test:py35:latest:win:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - choco install vcredist2017 -y
  - choco install python -y --version=3.5.4
  - $env:Path += ";C:\Python35;C:\Python35\Scripts"
  - python -V
  ...

#922 Removed unnecessary parameter `discrete` from `COptimizerPGDLS` and `COptimizerPGDExp`.
  src/secml/optim/optimizers/c_optimizer_pgd_exp.py
  src/secml/optim/optimizers/c_optimizer_pgd_ls.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Added dtype and sparsity casting based on x dtype and eta.
  src/secml/optim/optimizers/c_optimizer_pgd_exp.py
  src/secml/optim/optimizers/c_optimizer_pgd_ls.py
  src/secml/optim/optimizers/line_search/c_line_search_bisect.py
  src/secml/optim/optimizers/line_search/c_line_search_bisect_proj.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Updated docstrings.
  src/secml/optim/optimizers/c_optimizer_pgd_exp.py
  src/secml/optim/optimizers/c_optimizer_pgd_ls.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Updated TestCOptimizerPGDLSDiscrete unittests after removing the `discrete` parameter.
  src/secml/optim/optimizers/tests/c_optimizer_testcases.py
  src/secml/optim/optimizers/tests/test_c_optimizer_pgd_ls_discrete.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#923 Fixed `COptimizerPGDLS` and `COptimizerPGDLS` not working properly if the classifier's gradient has multiple components with the same (max) value.
  src/secml/optim/optimizers/c_optimizer_pgd_ls.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Refactored `TestCSecEval` and added unittests to cover #923.
  src/secml/adv/seceval/tests/test_c_sec_eval_evasion.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Added more unittests for `CAttackEvasionPGDLS` and `CAttackEvasionPGDExp` covering #922 and #923.
  src/secml/adv/attacks/evasion/tests/c_attack_evasion_testcases.py
  src/secml/adv/attacks/evasion/tests/test_c_attack_evasion_pgd_exp.py
  src/secml/adv/attacks/evasion/tests/test_c_attack_evasion_pgd_ls.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Make figures flag can now be set via env in optimizer and evasion test cases.
  src/secml/adv/attacks/evasion/tests/c_attack_evasion_testcases.py
  src/secml/optim/optimizers/tests/c_optimizer_testcases.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#100017 Improved documentation of `CAttackEvasion`, `COptimizer`, `CLineSearch`, and corresponding subclasses.
  src/secml/adv/attacks/evasion/c_attack_evasion.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_exp.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_ls.py
  src/secml/optim/optimizers/c_optimizer.py
  src/secml/optim/optimizers/c_optimizer_pgd.py
  src/secml/optim/optimizers/c_optimizer_pgd_exp.py
  src/secml/optim/optimizers/c_optimizer_pgd_ls.py
  src/secml/optim/optimizers/line_search/c_line_search.py
  src/secml/optim/optimizers/line_search/c_line_search_bisect.py
  src/secml/optim/optimizers/line_search/c_line_search_bisect_proj.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Added missing suffix to optimizer test.
  src/secml/optim/optimizers/tests/test_c_optimizer_pgd_ls_discrete.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Merge branch '912-exclude-tags-from-code_quality-job' into 'develop'
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Merge branch '917-automatically-call-secml-zoo-pipeline-to-create-a-new-release' into 'develop'
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Merge branch '918-robustbench-notebook-crashing-due-to-importerror' into 'develop'
  tox.ini
  tutorials/14-RobustBench.ipynb
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Merge branch '921-restrict-fix-for-torchvision-loader-mnist-download-url-to-version-0-9-1' into 'develop'
  src/secml/data/loader/tests/test_dataloader_torchvision.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Merge branch '920-result-of-projection-for-cconstraintl1-can-be-wrong-for-sparse-input-due-to-type-casting' into 'develop'
  src/secml/optim/constraints/c_constraint_l1.py
  src/secml/optim/constraints/tests/test_c_constraint.py
  src/secml/optim/constraints/tests/test_c_constraint_l1.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Merge branch '922-remove-unnecessary-discrete-parameter-from-coptimizerpgdls-and-pgdexp' into 'develop'
  src/secml/adv/attacks/evasion/c_attack_evasion.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_exp.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_ls.py
  src/secml/adv/attacks/evasion/tests/c_attack_evasion_testcases.py
  src/secml/adv/attacks/evasion/tests/test_c_attack_evasion_pgd_exp.py
  src/secml/adv/attacks/evasion/tests/test_c_attack_evasion_pgd_ls.py
  src/secml/adv/seceval/tests/test_c_sec_eval_evasion.py
  src/secml/optim/optimizers/c_optimizer.py
  src/secml/optim/optimizers/c_optimizer_pgd.py
  src/secml/optim/optimizers/c_optimizer_pgd_exp.py
  src/secml/optim/optimizers/c_optimizer_pgd_ls.py
  src/secml/optim/optimizers/line_search/c_line_search.py
  src/secml/optim/optimizers/line_search/c_line_search_bisect.py
  src/secml/optim/optimizers/line_search/c_line_search_bisect_proj.py
  src/secml/optim/optimizers/tests/c_optimizer_testcases.py
  src/secml/optim/optimizers/tests/test_c_optimizer_pgd_ls_discrete.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Update VERSION to v0.14.1
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Release v0.14.1-rc1
  .gitlab-ci.yml
  src/secml/VERSION
  src/secml/adv/attacks/evasion/c_attack_evasion.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_exp.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_ls.py
  src/secml/adv/attacks/evasion/tests/c_attack_evasion_testcases.py
  src/secml/adv/attacks/evasion/tests/test_c_attack_evasion_pgd_exp.py
  src/secml/adv/attacks/evasion/tests/test_c_attack_evasion_pgd_ls.py
  src/secml/adv/seceval/tests/test_c_sec_eval_evasion.py
  src/secml/data/loader/tests/test_dataloader_torchvision.py
  src/secml/optim/constraints/c_constraint_l1.py
  src/secml/optim/constraints/tests/test_c_constraint.py
  src/secml/optim/constraints/tests/test_c_constraint_l1.py
  src/secml/optim/optimizers/c_optimizer.py
  src/secml/optim/optimizers/c_optimizer_pgd.py
  src/secml/optim/optimizers/c_optimizer_pgd_exp.py
  src/secml/optim/optimizers/c_optimizer_pgd_ls.py
  src/secml/optim/optimizers/line_search/c_line_search.py
  src/secml/optim/optimizers/line_search/c_line_search_bisect.py
  src/secml/optim/optimizers/line_search/c_line_search_bisect_proj.py
  src/secml/optim/optimizers/tests/c_optimizer_testcases.py
  src/secml/optim/optimizers/tests/test_c_optimizer_pgd_ls_discrete.py
  tox.ini
  tutorials/14-RobustBench.ipynb
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Updated CHANGELOG for version v0.14.1
  CHANGELOG.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Release v0.14.1
  CHANGELOG.md
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#931 Temporarily pinning `requests_mock` to version 1.8 as version 1.9 introduces a breaking change quoting all URLs.
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#933 Pinning `cleverhans` to version 3.0, as new version 3.1 requires `tensorflow_addons` which is incompatible with `tensorflow` 1.
  README.md
  setup.py
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Merge branch '933-new-update-cleverhans-3-1-requires-tensorflow-addons-2' into 'develop'
  README.md
  setup.py
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Removed few old pins of unittests dependencies (pytest and coverage).
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Bumped minimum tox version to 3.15 as it includes default passing of PIP_EXTRA_INDEX_URL.
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#927 Additional keyword arguments can now be specified in `CCreator.get_state()` and `.save_state()`, which may be required by redefintion of the methods in subclasses.
  src/secml/core/c_creator.py
  src/secml/figure/_plots/c_plot.py
  src/secml/figure/c_figure.py
  src/secml/ml/classifiers/multiclass/c_classifier_multi.py
  src/secml/ml/classifiers/pytorch/c_classifier_pytorch.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#928 Fixed `CClassifierPyTorch.set_state` always requiring a state dictionary with `model` inside.
  src/secml/ml/classifiers/pytorch/c_classifier_pytorch.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Added unittest covering #927 and #928.
  src/secml/ml/features/normalization/tests/test_c_normalizer_dnn.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#930 The correct number of binary classifiers is now automatically prepared in `CClassifierMulticlass.set_state` instead of raising `ValueError`.
  src/secml/ml/classifiers/multiclass/c_classifier_multi.py
  src/secml/ml/classifiers/multiclass/tests/test_c_classifier_multi_ova.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#929 A specific branch from which the model zoo data should be downloaded can now be specified using the `SECML_ZOO_BRANCH` environment variable.
  src/secml/model_zoo/load_model.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Equal instead of "is" when comparing strings.
  src/secml/model_zoo/load_model.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#934 Removed temporary pin of `requests_mock` to version 1.8.
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#935 Improved performance of `COptimizerPGDLS` for sparse data in case of box projection.
  src/secml/optim/optimizers/c_optimizer_pgd_ls.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

#936 Fixed few bulleted lists now displayed correctly in notebook 15.
  tutorials/15-Foolbox.ipynb
Due: package:docs, test:notebooks:py35:latest

#100020 Fixed typo in https://secml.gitlab.io/developers.
  docs/source/developers/index.rst
Due: package:docs

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

README update
  README.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

removed torchvision data loader
  src/secml/data/loader/__init__.py
  src/secml/data/loader/c_dataloader_torchvision.py
  src/secml/data/loader/tests/test_dataloader_torchvision.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

adding github actions
  .github/workflows/run_test_main.yml
  .github/workflows/run_test_on_demand.yml
Due: none

Path conditions:
  package: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  package:docs: any of: docs/**/*, tutorials/**/*, src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, README.md, requirements.txt, setup.py, tox.ini
  test:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py35:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py36:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py36:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py37:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py37:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py38:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py38:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py35:latest:win: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:notebooks:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, tutorials/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:install:whl:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py38: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py38: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
