Repository pralab/secml: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

package:
  stage: package
  interruptible: true
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-setuptools:latest
  before_script:
  - echo $CI_PROJECT_DIR
  script:
  - python setup.py sdist --formats=zip
  - python setup.py bdist_wheel --universal
  - twine check dist/*
  artifacts:
  ...

package:docs:
  stage: package
  interruptible: true
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-sphinx:latest
  script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  - tox -e docs
  - mv docs/build/html/ public/
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}_DOCS
    paths:
    - public
  ...

test:py35:latest:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35
  artifacts:
    reports:
      junit: pytest-report.xml
  ...

test:py35:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35
  artifacts:
    reports:
  ...

test:py36:latest:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.6
  script: tox -e py36
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py36
  artifacts:
    reports:
      junit: pytest-report.xml
  ...

test:py36:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.6
  script: tox -e py36-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py36
  artifacts:
    reports:
  ...

test:py37:latest:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.7
  script: tox -e py37
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py37
  artifacts:
    reports:
      junit: pytest-report.xml
  ...

test:py37:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.7
  script: tox -e py37-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py37
  artifacts:
    reports:
  ...

test:py35:latest:win:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - choco install vcredist2017 -y
  - choco install python -y --version=3.5.4
  - $env:Path += ";C:\Python35;C:\Python35\Scripts"
  - python -V
  ...

Adding Python 3.9
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Creating template for bug
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update bug report
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

direction issue template
  .github/ISSUE_TEMPLATE/direction.md
Due: none

documentation issue template
  .github/ISSUE_TEMPLATE/direction.md
  .github/ISSUE_TEMPLATE/documentation.md
Due: none

update direction issue template
  .github/ISSUE_TEMPLATE/direction.md
Due: none

change label for direction
  .github/ISSUE_TEMPLATE/direction.md
Due: none

improvement issue template
  .github/ISSUE_TEMPLATE/improvement.md
Due: none

new feature issue template
  .github/ISSUE_TEMPLATE/new_feature.md
Due: none

refactoring issue template
  .github/ISSUE_TEMPLATE/refactoring.md
Due: none

pull request template
  .github/pull_request_template.md
Due: none

Update version 0.15
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Update 05-Poisoning.ipynb
  tutorials/05-Poisoning.ipynb
Due: package:docs, test:notebooks:py35:latest

Update c_sec_eval.py
  src/secml/adv/seceval/c_sec_eval.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Update run_test_main.yml
  .github/workflows/run_test_main.yml
Due: none

fixed CW attack foolbox [runtests]
  src/secml/adv/attacks/evasion/foolbox/fb_attacks/fb_cw_attack.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

[ runtests ] removed tests from windows
  .github/workflows/run_test_on_demand.yml
Due: none

fix deepfool attack gradient fn
  src/secml/adv/attacks/evasion/foolbox/fb_attacks/fb_deepfool_attack.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

fix deepfool attack gradient fn
  src/secml/adv/attacks/evasion/foolbox/losses/deepfool_loss.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

fix fgm add last point in the path
  src/secml/adv/attacks/evasion/foolbox/fb_attacks/fb_fgm_attack.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

add test for grad fn all attacks
  src/secml/adv/attacks/evasion/foolbox/tests/c_attack_evasion_foolbox_testcases.py
  src/secml/adv/attacks/evasion/foolbox/tests/test_c_attack_evasion_foolbox_basic_iterative.py
  src/secml/adv/attacks/evasion/foolbox/tests/test_c_attack_evasion_foolbox_cw.py
  src/secml/adv/attacks/evasion/foolbox/tests/test_c_attack_evasion_foolbox_ddn.py
  src/secml/adv/attacks/evasion/foolbox/tests/test_c_attack_evasion_foolbox_deepfool.py
  src/secml/adv/attacks/evasion/foolbox/tests/test_c_attack_evasion_foolbox_ead.py
  src/secml/adv/attacks/evasion/foolbox/tests/test_c_attack_evasion_foolbox_fgm.py
  src/secml/adv/attacks/evasion/foolbox/tests/test_c_attack_evasion_foolbox_pgd.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

[runtests] refactor for pep8 format
  src/secml/adv/attacks/evasion/foolbox/fb_attacks/fb_deepfool_attack.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

runtests trigger tests
  .github/workflows/run_test_on_demand.yml
Due: none

[runtests] trigger tests
  .github/workflows/run_test_on_demand.yml
Due: none

restore [runtests]
  .github/workflows/run_test_on_demand.yml
Due: none

Update run_test_on_demand.yml
  .github/workflows/run_test_on_demand.yml
Due: none

Fixing bug in logit_loss.py, replaced y0 instead of x0
  src/secml/adv/attacks/evasion/foolbox/losses/logits_loss.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

update changelog and tutorials
  CHANGELOG.md
  tutorials/01-Training.ipynb
  tutorials/02-NeuralNetworks.ipynb
  tutorials/03-Evasion.ipynb
  tutorials/04-Transferability.ipynb
  tutorials/05-Poisoning.ipynb
  tutorials/06-MNIST_dataset.ipynb
  tutorials/07-NeuralNetworks-MNIST.ipynb
  tutorials/08-ImageNet.ipynb
  tutorials/09-Cleverhans.ipynb
  tutorials/10-Explanation.ipynb
  tutorials/11-ImageNet_advanced.ipynb
  tutorials/12-DNR.ipynb
  tutorials/13-Android-Malware-Detection.ipynb
  tutorials/14-RobustBench.ipynb
  tutorials/15-Foolbox.ipynb
Due: package, package:docs, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

fix new library versions of dependencies
  CHANGELOG.md
  src/secml/explanation/c_explainer_influence_functions.py
  src/secml/ml/classifiers/sklearn/c_classifier_ridge.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

removed cleverhans tests
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

removed cleverhans tests
  .github/workflows/run_test_main.yml
  .github/workflows/run_test_on_demand.yml
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

changelog v0.15.2
  CHANGELOG.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

update version file
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

fix requirement for tensorflow when importing attacks
  src/secml/adv/attacks/evasion/__init__.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

update version
  CHANGELOG.md
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Update default values
  src/secml/adv/attacks/c_attack_mixin.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_exp.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_ls.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_logistic_regression.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_ridge.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_svm.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:latest, test:py36:min, test:py37:latest, test:py37:min, test:py38:latest, test:py38:min, test:py35:latest:win, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Fix issue #16 and version update
  CHANGELOG.md
  src/secml/VERSION
  src/secml/adv/attacks/poisoning/c_attack_poisoning.py
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:py38, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37, test:install:whl:extras:py38

Path conditions:
  package: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  package:docs: any of: docs/**/*, tutorials/**/*, src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, README.md, requirements.txt, setup.py, tox.ini
  test:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py35:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py36:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py36:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py37:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py37:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py38:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py38:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py35:latest:win: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:notebooks:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, tutorials/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:install:whl:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py38: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py38: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
